section {
    display: flex;
    /*Gör att artiklar byter rad på mindre skärmar*/
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding-bottom: 2rem;
}

article {
    /*Placerar triangeln relativt till artikeln*/
    position: relative;
    flex: 1 1 300px;
    max-width: 400px;
    background-color: #c1c5ca;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-style: solid;
    border-color: #c1c5ca;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    /*Placerar texten ovanpå triangeln*/
    z-index: 0;
}

/*Element som skapar en triangel på toppen av artikeln*/
article::before {
    content: "";
    /*Ger triangeln en exakt position i förhållande till artikeln*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    /*Beskär bakgrunden till en triangel*/
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    /*Placerar triangeln bakom texten*/
    z-index: -1;
}

article p {
    text-align: left;
}