* {
    box-sizing: border-box;
}

html {
    /*62,5% av 16px ger 10px*/
    font-size: 62.5%;
}

body {
    /*Textstorlek 16px som standard*/
    font-size: 1.6rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1 {
    /*Textstorlek 32px som standard*/
    font-size: 3.2rem;
}

h2 {
    /*Textstorlek 24 som standard*/
    font-size: 2.4rem;
}

h3 {
    /*Textstorlek 20 som standard*/
    font-size: 2.0rem;
}